:root {
  --gradient: linear-gradient(10deg, #e8d5c4, #b4e4ff);
  --gradient2: linear-gradient(15deg, #04ea00, #00d17d);
  --gradient3: linear-gradient(15deg, #cca9e3, #c06ec9);
}
.timer-container {
  /* background-color: red ; */
  height: 600px;
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: var(--gradient3); */
  border-radius: 12px;
  background: url(../../Assets/Timer/02.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  margin-left: 15%;
}

.stopwatch-card {
  font-size: 50px;
  font-weight: bold;
  margin-left: 77px;
  margin-top: 77px;
}

.start-btn {
  width: 150px;
  border-radius: 15px;
}

.input-correct {
  width: 100px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: -20px;
}
.bg-timer-section {
  /* background: url(./01.png); */
  height: 89vh;
  width: 100vw;
  margin-top: -0.5px;
}
.input-correct {
  width: 100px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: -20px;
}
.inputscore-btn {
  position: absolute;
  bottom: 173px;
  right: 123px;
  width: 20%;
}

.timer-container {
}

.timer-margin {
  margin-top: 150px;
  margin-right: 285px;
}

.timer-txt {
  font-size: 36px;
  margin-left: 173px;
  margin-top: 210px;
}
.score-correct {
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 33.6%;
  position: absolute;
  margin-left: 54%;
}

@media screen and (min-width: 1200px) and (max-width: 1430px) {
  .score-correct {
    margin-left: 61%;
    margin-top: 42%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  /* timer section  */
  .timer-container {
    margin-left: 6%;
  }
  .score-correct {
    margin-left: 58%;
    margin-top: 43.3%;
  }
}

@media screen and (min-width: 786px) and (max-width: 1024px) {
  .timer-container {
    margin-left: -5%;
  }

  .score-btn {
    margin-top: 52.6%;
  }
}

/* @media screen and (min-device-width: 768px) and (max-device-width: 960px) {
    
 
} */
