:root {
  --gradient: linear-gradient(10deg, #e8d5c4, #b4e4ff);
  --gradient2: linear-gradient(15deg, #04ea00, #00d17d);
  --gradient3: linear-gradient(15deg, #cca9e3, #c06ec9);
}
.timer-container {
  /* background-color: red ; */
  height: 190px;
  width: 350px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient3);
  border-radius: 12px;
}

.stopwatch-card {
  font-size: 50px;
  font-weight: bold;
}

.start-btn {
  width: 150px;
  border-radius: 15px;
}

.input-correct{
    width: 100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: -20px;
}
