.puzzle-box {
  display: flex;
  justify-content: space-evenly;
}

.wordslct {
  /* background-color: blue; */
  height: 500px;
  width: 30%;
  /* position: absolute; */
  display: flex;

  flex-direction: column;
  gap: 40px;
  padding-top: 50px;
}

.wordyes {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: var(--arena-color);
  font-weight: bold;
}
.yes-btn {
  width: 90px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid gray;
}

.wordyes span {
  font-size: 20px;
  margin-top: 4px;
}
.yes{
  background-color: green;
  
}

.no{
  background-color: red;

}


