.flippable-card-container {
  /* === Sizing === */
  height: 445px;
  width: 245px;
  perspective: 1000px;
  margin-bottom: -170px;
  margin-right: -20px;
  overflow-y: hidden;
}
.scroll-remove {
  overflow-y: hidden;
}

@media screen and (max-width: 1024px) {
  .flippable-card-container {
    height: 445px;
    width: 225px;
    perspective: 1000px;
    margin-bottom: -170px;
    margin-right: -72px;
  }
}

@media screen and (max-width: 1180px) {
  .flippable-card-container {
    height: 445px;
    width: 225px;
    perspective: 1000px;
    margin-bottom: -170px;
    margin-right: -66px;
  }
}