.case-study-container {
  padding-left: 150px;
  height: 70%;
  width: 80%;
}

.actual-card {
  margin-left: 16%;
}
@media screen and (max-width: 1024px) {
  .card-front-1 {
      height: 100%;
  }
}
