.card {
  /* Sizing */
  height: 60%;
  width: 70%;
  
  transform-style: preserve-3d;

  /* Content Alignment */
  position: relative;

  /* Styling */
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  user-select: none;
  cursor: pointer;
}

.card-front,
.card-back {
  /* Sizing */
  height: 100%;
  width: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  /* Alignment */
  position: absolute;

  /* Content Alignment */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Content Styling */
  font-family: Montserrat;
  font-weight: 800;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

.card-front {
  background-color: #110781;
}

.card-back {
  background-color: #A8A8A8;
  transform: rotateY(180deg);
}

.middle{
  font-size: 0;
  height: 300px;
  width: 300px;
}