.wordslct1 {
  /* background-color: blue; */
  height: 500px;
  width: 80%;
  /* position: absolute; */
  display: flex;

  flex-direction: column;
  gap: 40px;
  padding-top: 50px;
}

.wordyes1 {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  /* text-align: center; */
  color: var(--arena-color);
  font-weight: bold;
  margin-left: 60px;
}

.wordyes1 span {
  width: 60%;
  font-size: 20px;
  margin-top: 4px;
  color: white;
}

.ques-bg {
  position: absolute;
  z-index: -1;
  width: 96%;
  height: 145%;
}

.full-height {
  background: url("../NewImages/Spin-Wheel_BG.png");
  height: 140vh;
}



.sbt-btn {
  margin-left: 70%;
}



@media screen and (max-width: 1180px) {
  .sbt-btn {
    margin-left: 67%;
    /* top: 10%;
     */
     position: absolute;
     bottom: 78px;
     margin-left: 54%;
  }
   .resp-puzzle-case-btn {
    position: absolute;

    margin-top: 100%;
    top: -15%;
  }
}

@media screen and (max-width: 1024px){
  .sbt-btn {
    margin-left: 53%;
    bottom: -17px;
  }
}