@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.nav__img {
  display: flex;
  margin-left: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.nav_img {
  margin-left: 10px;
}

.flexbox-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2em;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 34px;
}

.flexbox-item {
  margin: 10px;
  background-color: #efefef;
  flex: 1 0 20%;
  text-align: center;
  line-height: 200px;
  /* border-radius: 8px;
  border: 1px solid #333; */
  position: relative;
  border-radius: 16px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.flexbox-item:hover {
  background: rgba(0, 48, 145, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.7px);
  -webkit-backdrop-filter: blur(1.7px);
  border: 1px solid rgba(0, 48, 145, 0.03);
}

/* .flexbox-item-1 {
  display: flex;
} */

.btn {
  width: 100%;
  height: 100%;
  font-size: 100px;
  cursor: pointer;
  border: 1px solid #f0f0f0;
  border-radius: 16px;
  color: var(--arena-color);
  position: relative;
}
.btn:hover {
  background: rgba(102, 150, 208, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.2px);
  -webkit-backdrop-filter: blur(2.2px);
  border: 1px solid rgba(102, 150, 208, 0.19);
}
.icon-conatiner:active {
  animation: press 0.2s 1 linear;
}

@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.92);
  }
  to {
    transform: scale(1);
  }
}
@keyframes bounce {
  50% {
    transform: rotate(5deg) translate(20px, -50px);
  }
  to {
    transform: scale(0.9) rotate(10deg) translate(50px, -80px);
    opacity: 0;
  }
}

.round-box {
  width: 95%;
  display: flex;
  justify-content: center;
  background-color: var(--arena-color);
  padding: 10px;
  font-size: 35px;
  font-weight: bold;
  margin: auto;
  margin-top: 20px;
  border-radius: 8px;
  color: #fff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.round-box-dashboard {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--arena-color);
  padding: 10px;
  font-size: 35px;
  font-weight: bold;
  margin: auto;
  margin-top: 20px;
  border-radius: 8px;
  color: #fff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.dashboard-container {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 95vw;
  height: 80vh;
  margin: auto;
}

.lock-div {
  position: absolute;
  z-index: 1;
  margin-top: 167px;
  margin-left: -35px;
}
/* .first-mile{
    display: flex;
    justify-content: ;
} */

.guide-close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 3rem;
  color: var(--arena-color);
  cursor: pointer;
  border: none;
  background: none;
}
.guide-close-modal:hover {
  color: red;
}

.hidden {
  display: none;
}

.first-mile-heading {
  margin-bottom: 40px;
  background-color: #00309a;
  display: flex;
  justify-content: center;
  padding: 5px;
  color: white;
}

.bold {
  font-size: larger;
}

.btn-decor {
  color: white;
  padding: 6px 13px;
  background-color: rgb(4, 4, 146);
  font-size: 25px;
  border-radius: 7px;
  cursor: pointer;
}

.btn-flex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
}

/* Dice */
.container1 {
  display: grid;
  place-items: center;
  height: 470px;
  width: 70%;
  padding: 80px 0 40px;
  border-radius: 30px;
  margin: auto;
  margin-top: 60px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background: linear-gradient(to bottom, #b7a3e6 0%, #dbbbc2 100%);
}

/*
    Dice Styles
*/

.dice {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: 1s ease;
}

@keyframes rolling {
  50% {
    transform: rotateX(455deg) rotateY(455deg);
  }
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 5px solid #f6f3f0;
  transform-style: preserve-3d;
  background: linear-gradient(145deg, #dddbd8, #fff);
}

.face::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #f6f3f0;
  transform: translateZ(-1px);
}

.face::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #131210;
}

.front {
  transform: translateZ(50px);
}

.back {
  transform: rotateX(180deg) translateZ(50px);
}

.top {
  transform: rotateX(90deg) translateZ(50px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}

.right {
  transform: rotateY(90deg) translateZ(50px);
}

.left {
  transform: rotateY(-90deg) translateZ(50px);
}

.front::after {
  width: 30px;
  height: 30px;
  background: black;
  margin: -15px 0 0 -15px;
}

.back::after {
  margin: -35px 0 0 -30px;
  box-shadow: 40px 0, 0 25px, 40px 25px, 0 50px, 40px 50px;
}

.top::after {
  margin: -30px 0 0 -30px;
  box-shadow: 40px 40px;
}

.bottom::after {
  margin: -36px 0 0 -36px;
  box-shadow: 26px 26px, 52px 52px, 52px 0, 0 52px;
}

.right::after {
  margin: -30px 0 0 -30px;
  box-shadow: 40px 0, 0 40px, 40px 40px;
}

.left::after {
  margin: -35px 0 0 -35px;
  box-shadow: 25px 25px, 50px 50px;
}

/*
    Roll Button styles
*/

.roll {
  cursor: pointer;
  color: #b33951;
  margin-top: 60px;
  padding: 6px 12px;
  border-radius: 3px;
  font: 700 16px "Montserrat";
  border: 2px solid #b33951;
  transition: 0.4s;
  background-color: #0e5c91;
  border: 1px solid #85cdfd;
  width: 170px;
  height: 40px;
  border-radius: 8px;
  color: white;
}

.roll:hover {
  color: #fff;
  background: #b33951;
}

/* Wheel */

:root {
  --wheel-font: "Lato", "Quicksand", sans-serif;
  --wheel-size: 450px;
  --wheel-slice-spacing: 50px;
  --wheel-border-size: 10px;
  --wheel-color: #fff;
  --neutral-color: blue;
  --PI: 3.6;
  --nb-item: 0;
  --item-nb: 0;
  --selected-item: 0;
  --nb-turn: 5;
  --spinning-duration: 4s;
  --reset-duration: 0.25s;
  --arena-color: #003091;
  --gradient: linear-gradient(10deg, #e8d5c4, #b4e4ff);
  --gradient2: linear-gradient(15deg, #04ea00, #00d17d);
  --gradient3: linear-gradient(15deg, #b648ff, #ef5dff);
}

.wheel-container {
  /* display: block;
  position: relative;
  box-sizing: content-box;
  width: 60%;
  height: 58vh;
  padding: 40px;
  margin: auto;
  border-radius: 25px; */
  /* background-color: var(--neutral-color); */
  /* user-select: none; */
  /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    /* rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  /* box-shadow: #F8EDE3 5px 5px, #DFD3C3 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, #D0B8A8 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
  /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */

  /* background: linear-gradient(to bottom, #6e529d 0%,#d97b93 100%); */
  /* background-image: url(./Components/BG.png); */
  height: 90vh;
  width: 100%;

  padding-top: 100px;
}

.body-img {
  position: absolute;
  margin-left: 33%;
  margin-top: -44%;
}

.wheel-container::before,
.wheel-container::after {
  /* content: ""; */
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border: solid transparent 20px;
  border-left-width: 0;
}

.wheel-container::before {
  right: 0px;
  border-right-color: var(--wheel-color);
}

.wheel-container::after {
  right: -5px;
  border-right-color: var(--neutral-color);
}

.wheel {
  display: block;
  position: absolute;
  margin-top: 10px;
  box-sizing: content-box;
  margin: auto;
  margin-top: -42.3%;
  margin-left: 528px;
  width: var(--wheel-size);
  height: var(--wheel-size);
  overflow: hidden;
  border-radius: 50%;
  border: solid var(--wheel-color) var(--wheel-border-size);
  background-color: var(--wheel-color);
  transition: transform var(--reset-duration);
  transform: rotate(0deg);
  cursor: pointer;
}

.wheel.spinning {
  transition: transform var(--spinning-duration);
  transform: rotate(
    calc(
      var(--nb-turn) * 360deg +
        (-360deg * var(--selected-item) / var(--nb-item, 1))
    )
  );
}

.wheel::after {
  display: block;
  position: absolute;
  content: "";
  background-color: var(--neutral-color);

  width: 25px;
  height: 25px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.wheel-item {
  display: block;
  position: absolute;
  box-sizing: border-box;

  top: 50%;
  left: 50%;
  width: 50%;
  transform-origin: center left;
  transform: translateY(-50%)
    rotate(calc(var(--item-nb) * (360deg / var(--nb-item, 1))));
  color: var(--neutral-color);
  text-align: right;
  padding: 0 25px 0 50px;
  font-family: var(--wheel-font);
}

/* 
.wheel-item:before {
  content: " ";
  display: block;
  position: absolute;
  box-sizing: border-box;
  z-index: -1;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 0px;
  opacity: 0.25;
  --slice-max-width: calc(
    var(--PI) * var(--wheel-size) + var(--wheel-size) / 2
  );
  --slice-width: calc(
    (var(--slice-max-width) / var(--nb-item)) - var(--wheel-slice-spacing)
  );
  border: solid transparent calc(var(--slice-width) / 2);
  border-left: solid transparent 0;
  border-right: solid var(--neutral-color) calc(var(--wheel-size) / 2);
} */

.wheel-stand {
  /* margin-top: 97px; */
  margin-top: -35px;
  margin-left: 610px;
  height: 40%;
  width: 20%;
  /* fill:"none";
  filter: invert(77%) sepia(56%) saturate(409%) hue-rotate(348deg) brightness(101%) contrast(102%); */
}
.path {
  margin-top: -100px;
}

.wheel-marker {
  height: 70px;
  width: 50px;
  margin-left: 48.5%;
  margin-top: -44%;
  position: absolute;
  z-index: 1;
}
.wheel-background {
  background: url(./Components/wheelbackground.png);
  height: 120%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -50px;
}
/* cards flexbox */

.flex-container-child {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 0 150px;
}

.flex-child {
  display: inline-block;
  /* margin: 10px 0 0 10px; */
  flex-grow: 1;
}

/* Form  */
:root {
  --form-height: 550px;
  --form-width: 900px;
  /*  Sea Green */
  --left-color: #00309a;
  /*  Light Blue  */
  --right-color: #96dbe2;
}

/* body, html{
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 0.5px;
}
 */
.container {
  width: var(--form-width);
  height: var(--form-height);
  position: relative;
  margin: auto;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 10px;
  margin-top: 50px;
  background-image: linear-gradient(to right, #ececeb, #f9f9f8);
  display: flex;
}
/* .form-container{
  position: absolute;
} */

/* arena img   */
.arena-img {
  height: 550px;
  width: 464px;
  border-radius: 2% 0 0 2%;
}

/* 
----------------------
      Overlay
----------------------
*/
.overlay-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background-image: linear-gradient(
    to right,
    var(--left-color),
    var(--right-color)
  );
  border-radius: 10px;
  color: white;
  clip: rect(0, 385px, var(--form-height), 0);
}

.open-sign-up {
  animation: slideleft 1s linear forwards;
}

.open-sign-in {
  animation: slideright 1s linear forwards;
}

.overlay-1 .sign-in,
.overlay-1 .sign-up {
  /*  Width is 385px - padding  */
  --padding: 50px;
  width: calc(385px - var(--padding) * 2);
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px var(--padding);
  text-align: center;
}

.overlay-1 .sign-in {
  float: left;
}

.overlay-text-left-animation {
  animation: text-slide-in-left 1s linear;
}
.overlay-text-left-animation-out {
  animation: text-slide-out-left 1s linear;
}

.overlay-1 .sign-up {
  float: right;
}

.overlay-text-right-animation {
  animation: text-slide-in-right 1s linear;
}

.overlay-text-right-animation-out {
  animation: text-slide-out-right 1s linear;
}

.overlay-1 h1 {
  margin: 0px 5px;
  font-size: 2.1rem;
}

.overlay-1 p {
  margin: 20px 0px 30px;
  font-weight: 200;
}
/* 
------------------------
      Buttons
------------------------
*/
.switch-button,
.control-button {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  height: 40px;
  font-size: 14px;
  text-transform: uppercase;
  background: none;
  border-radius: 20px;
  color: white;
}

.switch-button {
  border: 2px solid;
}

.control-button {
  border: none;
  margin-top: 15px;
}

.switch-button:focus,
.control-button:focus {
  outline: none;
}

.control-button.up {
  background-color: var(--left-color);
}

.control-button.in {
  background-color: var(--right-color);
}

.third {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px var(--arena-color) inset, 0 0 0 0 var(--arena-color);
  transition: all 150ms ease-in-out;
  margin-top: 35px;
}
.third:hover {
  box-shadow: 0 0 5px 0 #3498db inset, 0 0 5px 3px #3498db;
  background-color: white;
  color: var(--arena-color);
  font-family: "roboto";
  /* font-weight: bold; */
}
.search-icon {
  position: absolute;
  margin-top: 2px;
  right: 76px;
  border: none;
  background-color: transparent;
  z-index: 999;
  cursor: pointer;
}
/* 
--------------------------
      Forms
--------------------------
*/
/* 





/* milestones css */
.first-mile {
  height: 600px;
  width: 1000px;
  background-color: #ecf2ff;
  margin: auto;
  margin-top: 50px;
  border-radius: 80px;
  text-align: center;
  padding-top: 250px;
  font-size: 60px;
  border: 1px solid #205e61;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* Aftercard  */

.outer-div {
  /* display: inline-block; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.actual-card {
  background-color: grey;
  height: 450px;
  width: 350px;
  margin-right: 240px;
  padding: 10px;
}

.border-div {
  height: 430px;
  width: 330px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* -webkit-mask: radial-gradient(circle 20px at top left, #0000 98%, #fff)top left; */
  border-style: dashed;
}

.right-img {
  max-width: 100%;
  max-height: 100%;
  margin-left: 100px;
}

.margin-div {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.text-margin {
  margin-top: 100px;
  font-size: 40px;
  text-align: center;
  color: white;
}
.width-input {
  height: 32px;
  width: 220px;
  border-radius: 8px;
  margin-bottom: 3px;
  border: none;
  margin-left: 13px;
}

.card-btn-style {
  background-color: #85cdfd;
  width: 80px;
  border-radius: 6px;
  border: 1px solid #85cdfd;
  font-size: 16px;
  color: white;
  margin-right: 13px;
  height: 32px;
}
input:focus {
  outline: none !important;
  border-color: white;
}

/* wheel marker */
.marker {
  transform: rotate(90deg);
  margin-top: -268px;
  margin-left: 851px;
  /* height: 50px; */
  width: 202px;
}
.wheel-container {
  margin-top: -50px;
}

.timer-div {
  height: 40px;
  width: 120px;
  /* background-color: #0e5c91; */
  border: 1px solid gray;
  border-radius: 12px;
  padding-left: 10px;
  padding-top: 5px;
  display: flex;
  float: right;
  margin-right: 36px;
  margin-top: 37px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.clock-img {
  height: 25px;
  width: 25px;
  margin-left: 15px;
  margin-top: 2px;
}

.timer-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 20vh;
  font-size: larger;
}
.clock-img-timer-section {
  width: 100px;
  height: 100px;
}

.remain-container {
  height: 50px;
  width: 111px;
  background-color: #fff;
  text-align: center;
  padding-top: 6px;
  border-radius: 8px;
  float: right;
  margin-right: 85px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  color: var(--arena-color);
  font-weight: 600;
}

/* question */

.question-container {
  height: 76vh;
  width: 80vw;
  margin: auto;
  margin-top: 10px;
  /* border: 1px solid red; */
  border-radius: 16px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  position: relative;
}
.question-video {
  display: flex;
  justify-content: center;
  padding-top: 37px;
  margin-left: 135px;
}

ul li {
  text-decoration: none;
  list-style: none;
  color: #2d264b;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
  width: 450px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
/* ul li:hover{
  background-color: #B2FFB2;
} */
/* 
.selected-answer {
  background: #ffd6ff;
  border: 1px solid #800080;
} */
.question-div {
  margin-right: 40px;
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  color: var(--arena-color);
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.question-box {
  width: 75vw;
  height: 30vh;
  /* border: 4px solid red; */
  margin: auto;
  margin-top: 50px;
  /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
  border-radius: 10px;
  position: absolute;
  margin-left: 38px;
}

.question-btn {
  font-size: 25px;
  height: 35px;
  width: 100px;
  border: none;
  border-radius: 15px;
  margin: auto;
  margin-left: 46%;
  margin-top: 10px;
}

.question-margin {
  margin-top: 60px;
  /* margin: auto; */
}
/* Grow effects */

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.06);
}
.option-img-div {
  width: 370px;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

/* finish page */

.finish-page {
  background: var(--gradient);
  display: flex;
  justify-content: center;
  align-items: center;
}

.finish-text {
  /* font-size: large; */
  font-weight: bold;
  color: var(--arena-color);
}

/* puzzle */

.puzzle-position {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scoring-btn {
  width: 300px;
  height: 70px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 583px;
}
.puzzle-img {
  margin-left: 4px;
  margin-top: 30px;
}

.btn-width {
  width: 200px;
}
.full-height {
  height: 1100px;
}
.justify {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}
.wordyes span {
  margin-right: 100px;
}

.enter-score-container {
  display: grid;
  place-items: center;
  height: 470px;
  width: 70%;
  padding: 80px 0 40px;
  border-radius: 30px;
  margin: auto;
  margin-top: 60px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background: linear-gradient(to bottom, #b8a1df 0%, #e9b4c1 100%);
}
.invisible {
  background: #f6f6f5;
  border: none;
  height: 18px;
  width: 311px;
  font-size: 16px;
  margin: auto;
  margin-left: 61%;
  margin-top: 42%;
  color: #00ff00;
}
.btn-bottom{
  margin-top: 70px;
}
